.gitattributes !filter !diff

*.env filter=git-crypt diff=git-crypt 
*.sqlite3 filter=git-crypt diff=git-crypt
*.terraform.lock.hcl filter=git-crypt diff=git-crypt

openwebui/infra/hetzner/** filter=git-crypt diff=git-crypt
openwebui/infra/gcp/** filter=git-crypt diff=git-crypt
