{{ define "main" }}
<!--HERO-->
<section id="hero" class="
    min-h-screen
    bg-dark
    flex
    flex-col
    justify-between

    bg-dark
    bg-no-repeat
    bg-cover
    bg-center
    md:bg-hero
    bg-hero-portrait

    ">
  <div id="first-header" class="group force-dark">
    {{ partial "header.html" (dict "context" . "first" "true") }}
  </div>

  <div class="site-container">
    <div class="flex items-center pb-4 lg:pb-8">
      <span class="relative inline-flex rounded-md shadow-sm">
        <span class="h-4 w-4 lg:h-6 lg:w-6 pointer-events-none">
          <span id="pulse1" class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
          <span id="pulse2" class="relative inline-flex rounded-full h-4 w-4 lg:h-6 lg:w-6 bg-green-500"></span>
        </span>
      </span>
      <p class="pl-2 text-white text-md lg:text-xl font-extralight text-wrap max-w-40 lg:max-w-64">
        <a id="availability" href='#contact' class="underline whitespace-pre-line">
          {{.Site.Data.landing.availability.label}}
        </a>
        <script>
          (function setupAvailability() {
            /* This is a hack to get the availability color */
            const availabilityPercent = {{ .Site.Data.landing.availability.percent }};
            const pulseColor = availabilityPercent === 0 ? 'bg-red-500' : availabilityPercent < 50 ? 'bg-yellow-500' : 'bg-green-500';
            const pulse1 = document.getElementById('pulse1');
            const pulse2 = document.getElementById('pulse2');
            pulse1.classList.remove('bg-green-400');
            pulse1.classList.add(pulseColor);
            pulse2.classList.remove('bg-green-500');
            pulse2.classList.add(pulseColor);

            /* This is a hack to get the availability label */
            const availability = document.getElementById('availability');
            const preLabelInner= {{.Site.Data.landing.availability.label}}
            // the label normally is like this = "One Spot Available For March 2025"
            // If the date is in the past or in the next 10 days. We change it for the next month

            const date = new Date();
            date.setMonth(date.getMonth() + 1);

            const month = date.toLocaleString('default', {month: 'long'});
            const year = date.getFullYear();
            const currentMonth = `${month} ${year}`;
            const label = availability.innerText;
            availability.innerText = `${label} ${currentMonth}`;
          })();
        </script>
      </p>

    </div>

    <h1 class="max-w-md lg:max-w-2xl text-white text-3xl lg:text-6xl font-extralight whitespace-pre-line">
      {{.Site.Data.landing.hero.title}}</h1>
    <p
      class="mt-6 max-w-72 lg:max-w-lg text-md lg:text-xl text-white font-extralight lg:font-light whitespace-pre-line">
      {{.Site.Data.landing.hero.subtitle}}</p>
  </div>

  <div class="min-h-16 h-60px bg-banner flex items-center">
    {{ partial "inline/marquee.html" . }}
  </div>
</section>

<!-- Who Work with me -->
<section id="who-works" class="
  min-h-screen

  bg-dark
  dark:bg-light

  flex
  flex-col
  justify-between
  ">
  <div class="flex flex-col lg:flex-row space-between lg:items-center site-container min-w-full flex-grow">
    <div class="mt-11 lg:m-11">
      <h1 class="
      text-white
      dark:text-dark

      text-7xl
      lg:text-9xl

      capitalize
      font-light

      ">
        {{ .Site.Data.landing.experience.title}}
      </h1>
    </div>
    <div class="my-8 lg:my-11">
      {{ partial "inline/target-audience.html" . }}
    </div>
  </div>
  {{ partial "inline/logos.html" . }}
</section>


<!-- Services -->
<section id="services" class="bg-light dark:bg-dark min-h-screen flex flex-col align-center">

  <div class="site-container text-dark dark:text-white">
    <h2 class="text-3xl font-extralight py-6 capitalize">
      {{.Site.Data.landing.services.title}}
    </h2>
  </div>

  <span class="min-w-full flex justify-center flex-grow pb-4">
    <div class="site-container min-h-full flex flex-col gap-4 max-w-screen-2xl flex-grow">
      {{$services := where .Site.Data.services "skip" false}}

      {{ with $services }}
      <div class="grid md:grid-cols-2 gap-4 ">
        {{ range first 2 . }} {{ partial "inline/service-card.html" . }}
        {{ end }}
      </div>
      <div class="grid md:grid-cols-3 gap-4 ">
        {{ range . | after 2 | first 3}}
        {{ partial "inline/service-card.html" . }}
        {{ end }}
      </div>
      <div class="grid md:grid-cols-2 gap-4">
        {{ range after 5 . }}
        {{ partial "inline/service-card.html" . }}
        {{ end }}
      </div>
  </span>
  {{ end }}
</section>

<!-- Contact -->
<section id="contact" class="flex dark:bg-light bg-dark min-h-screen">
  <div class="flex flex-col lg:flex-row space-between items-center site-container min-w-full flex-grow">
    <div class="mt-11 lg:m-11 min-w-[50%]">
      <h1 class="
      text-white
      dark:text-dark

      text-7xl
      md:text-9xl

      capitalize
      font-light

      ">
        {{.Site.Data.landing.contact.title}}
      </h1>
      <button id="copy-email"
        class="mt-11 bg-logo min-w-56 hover:bg-gray-200 text-dark font-light py-2 px-4 rounded inline-flex items-center rounded-lg">
        {{ partial "svg.html" (dict "name" "copy" "class" "fill-current w-4 h-4 mr-2") }}
        <span>{{.Site.Data.landing.contact.email}}</span>
      </button>
    </div>
    <!-- <div id="cal-section" class="min-w-[50%] mt-8 md:mt-52"> -->
    <!--   <div style="width: 100%; height: 100%; overflow: scroll" id="my-cal-inline"></div> -->
    <!-- </div> -->
  </div>
</section>


{{ end }}


{{ define "partials/inline/marquee.html" }}
{{ $marquee := .Site.Data.marquee }}
<div class="h-full overflow-clip items-center">
  <div class="
        flex
        pd-4
        w-max
        gap-4

        animate-marquee

        ">
    {{ range $marquee }}
    <span class="flex flex-row items-center">
      <p class="pl-1 pr-2 font-thin text-xs">●</p>
      <p class="pl-1 pr-2 font-medium">{{ . }}</p>
    </span>
    {{ end }}


    {{ range $marquee }}
    <span class="flex flex-row items-center">
      <p class="pl-1 pr-2 font-thin text-xs">●</p>
      <p class="pl-1 pr-2 font-medium aria-hidden">{{ . }}</p>
    </span>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "partials/inline/target-audience.html" }}
{{ $audience := .Site.Data.target_audience }}
<div class="h-full flex flex-col gap-16 justify-center text-white dark:text-dark">
  {{ range $audience }}
  <!-- Small screen -->
  <span class="md:hidden flex flex-col gap-4">
    <span class="flex gap-4 items-center">
      <h1 class="text-8xl">
        {{ .listNumber }}.
      </h1>
      <h1 class="text-5xl">
        {{ .title }}
      </h1>
    </span>
    <div class="flex-grow border-t border-white dark:border-dark pt-30"></div>
    <p class="text-2xl lg:text-4xl font-light whitespace-pre-line">
      {{ .content }}
    </p>
  </span>

  <!--From LG-->
  <span class="hidden md:flex gap-4">
    <h1 class="text-9xl">
      {{ .listNumber }}.
    </h1>
    <span class="flex flex-col gap-4">
      <h1 class="text-6xl">
        {{ .title }}
      </h1>
      <div class="flex-grow border-t border-white dark:border-dark pt-30"></div>
      <p class="text-4xl font-light whitespace-pre-line">
        {{ .content }}
      </p>
    </span>
  </span>

  {{ end }}
</div>
{{end}}

{{ define "partials/inline/logos.html" }}
<div class="flex bg-logo min-h-40 flex flex-col">
  <h2 class="text-dark text-3xl font-extralight pt-6 capitalize site-container">Past Experiences</h2>
  <div class="h-full overflow-clip items-center min-h-32 flex-grow flex">
    <div class="
        flex
        flex-col
        lg:flex-row

        flex-grow
        items-center
        gap-12
        lg:gap-16
        min-h-full
        pt-4
        lg:pt-0
        pb-4
        h-full

        animate-marquee-TODO
        " style="--marquee-speed: 20s; --marquee-direction: reverse;">

      {{ $logos := .Site.Data.experiences }}
      {{ range $logos }}
      {{ partial "svg.html" (dict "name" . "class" "max-h-12 bg-logo") }}
      {{ end }}
    </div>
  </div>
</div>
{{end}}

{{ define "partials/inline/service-card.html" }}
<div class="dark:bg-card dark:border-card border-gray-100 border-2 bg-white rounded-lg flex min-h-full p-5 aspect-3/2">
  <span>
    <h1 class="text-4xl text-dark dark:text-white">{{ .title }}</h1>
    <p class="text-2xl text dark dark:text-white mt-8 whitespace-pre-line">{{ .content }}</p>
  </span>
  <picture>
    <source srcset={{ .srcset }}
      sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 900px) 900px, 1200px" type="image/webp">
    <img src="image-large.webp" alt={{.title}}>
  </picture>
</div>
{{end}}
